<section class="header-content">
  <div class="header-text-top">
    <h1>Explore the world<br>whithexciting people</h1>
    <p>we help people to find ideal company for the join trips </p>
    <button>Start</button>
  </div>
  <div>
    <ul class="header-cards">
      <li>
        <h2>01</h2>
        <h3>Choose place, activity and time</h3>
        <p>Everyone can choose a root and activity according to this taste and possibilities</p>
      </li>
      <li>
        <h2>02</h2>
        <h3>Find people who the same travel plans</h3>
        <p>You can find people with the same interests,who know the routes you've never traveled</p>
      </li>
      <li>
        <h2>03</h2>
        <h3>Start and offer to go on a joint advenure</h3>
        <p>Discuss the details of your trip and have a great time! You might find a great friend for life</p>
      </li>
    </ul>
  </div>
</section>
