<nav class="text-sm mx-16 pt-8 flex flex-row justify-between items-center">
  <div class="icon-logo">
    <a
      routerLink=""
      class="hover:underline underline-offset-1 "
    >
      GoTravel
    </a>
  </div>
  <ul class="nav-links flex flex-row items-center space-x-8 ">
    <li>
      <a
        class="hover:underline underline-offset-1"
      >
        Destinations
      </a></li>
    <li>
      <a
        class="hover:underline underline-offset-1"
      >
        Testimonials
      </a></li>
    <li>
      <a
        class="hover:underline underline-offset-1"
      >
        Members
      </a>
    </li>
    <li>
      <a
        class="hover:underline underline-offset-1"
      >
        Galery
      </a>
    </li>

    <li *ngIf="!authService.isAuthenticated()">
      <a
        routerLink="/login"
        class="hover:underline underline-offset-1"
      >
        Sing in
      </a>
    </li>
    <li *ngIf="authService.isAuthenticated()" class="flex">
      <div (click)="mostrarDropdown = !mostrarDropdown" class="flex">

        <div
          style="background-image: url(../../../assets/images/doidao.jpg);"
          class=
          "
            bg-cover bg-center
            w-12 h-12 mr-2 mt-2
            rounded-full
          "
        >
        </div>
        <div class="flex flex-col items-start mt-2">

          <div
            class="hover:underline underline-offset-1 text-black-700">
            {{ userName }}
          </div>
          <div class="opacity-75 text-smm">
            {{ userEmail }}
          </div>
        </div>
      </div>

      <div
        [ngClass]="{'hidden': !mostrarDropdown}"
        class="absolute hidden py-16 mx-20 rounded shadow-lg">
        <a
          (click)="sair()"
          href="#"
          class="block py-2 px-2 w-12 text-white "
        >
          Sair
        </a>
      </div>
    </li>
  </ul>
</nav>
