<section>
  <div class="text-black-700 ml-16 mt-28">
    <p class="text-sm text-bold opacity-90">WHERE TO GO</p>
    <h2 class="text-xl text-bold">Popular destinations</h2>
  </div>
  <div class="flex justify-between mx-16">
    <app-cards pais="Brazil" estado="Rio de Janeiro" imagem="/assets/images/rjteste.png"></app-cards>
    <app-cards pais="Japao" estado="Tokio" imagem="/assets/images/japao.png"></app-cards>
    <app-cards pais="França" estado="Paris" imagem="/assets/images/franca.png"></app-cards>
    <app-cards pais="Estados Unidos" estado="Nova Yorque" imagem="/assets/images/newyork.png"></app-cards>
  </div>
</section>
