<section class="flex justify-between flex-wrap mx-16 mb-16 ">
  <!-- CARD GRANDE -->
  <div
    style="background-image: url('../../../../assets/images/foto-teste.jpg');"
    class=
    "
      mt-10
      w-full h-96 rounded-xl
      bg-cover bg-center
      text-white font-bold
      flex justify-between items-end
    "
  >
  <div class="mb-16 ml-20">
    <h2 class="text-md text-bold">TesteH2</h2>
    <p class="text-sm opacity-90">testep</p>
  </div>
    <a href="" class="mb-16 mr-20">
      <img src="../../../../assets/images/franca.png" alt="" class="w-8 h-8">
    </a>
  </div>

  <!-- CARD PEQUENO -->
  <div
    style="background-image: url('../../../../assets/images/foto-teste.jpg');"
    class="
      mt-10
      w-128 h-96 rounded-xl bg-cover
      text-white text-bold
      flex justify-between items-end"
  >
  <div class="mb-16 ml-20">
    <h2 class="text-md text-bold">TesteH2</h2>
    <p class="text-sm opacity-90">testep</p>
  </div>
    <a href="" class="mb-16 mr-20">
      <img src="../../../../assets/images/franca.png" alt="" class="w-8 h-8">
    </a>
  </div>

  <div
    style="background-image: url('../../../../assets/images/foto-teste.jpg');"
    class="
      mt-10
      w-128 h-96 rounded-xl bg-cover
      text-white text-bold
      flex justify-between items-end"
  >
  <div class="mb-16 ml-20">
    <h2 class="text-md text-bold">TesteH2</h2>
    <p class="text-sm opacity-90">testep</p>
  </div>
    <a href="" class="mb-16 mr-20">
      <img src="../../../../assets/images/franca.png" alt="" class="w-8 h-8">
    </a>
  </div>

</section>

