<section class="my-14 bg-gray-200 ">
  <div class="flex px-16 py-14">
    <div class="">
      <h2 class="text-xl text-bold">contact us</h2>
      <p class="text-sm ">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid a, reprehenderit adipisci quaerat ipsam enim cupiditate optio eius repellendus. Dicta architecto molestiae mollitia accusantium, aspernatur assumenda beatae iste quam velit.
      </p>
      <div class="flex space-x-10 text-sm">
        <div>
          <h3 class="text-orange-600 text-xl text-bold ">54</h3>
          <p class="">teste aulas</p>
        </div>
        <div>
          <h3 class="text-orange-600 text-xl text-bold">32</h3>
          <p>teste aulas</p>
        </div>
        <div>
          <h3 class="text-orange-600 text-xl text-bold ">75</h3>
          <p>teste aulas</p>
        </div>
      </div>
      <button class="mt-4 bg-orange-600  text-white font-bold h-10 w-40 rounded-full ">
        contact us
      </button>
    </div>
    <div class="mt-10">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/YOUR_VIDEO_ID" title="Meu Vídeo do YouTube" allowfullscreen></iframe>
    </div>
  </div>
</section>

